spring:
  application:
    name: producto-service

  datasource:
    username: root
    password:
    url: jdbc:mysql://localhost:3306/productos?useSSL=false&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&serverTimezone=UTC

  jpa:
    hibernate:
      ddl-auto: create

    database-platform: org.hibernate.dialect.MySQLDialect

    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: ${PORT:8181}